body {
    color: #ffffff;
    background-color: #1c1c1c;
    font-family: sans-serif;
}

.RemoveButton {
    display: inline-block;
    border-radius: 0.2em;
    background-color: rgb(169, 3, 41);
    font-size: 1.6em;
    cursor: pointer;
}

.RemoveButton:hover {
    background-color: rgb(200, 50, 80);
}

.TagListContainer {
    width: 350px;
}

.TagListName {
    padding: 0.5em 0px;
}

.TagListLi {
    height: 2em;
}

.DisabledTag {
    color: rgb(100, 100, 100);
}

.TagListContainer {
    margin: 30px 0;
}

.TagEditorContainer {
    display: flex;
}

.TagEditorRightPane {
    max-height: 1000px;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #1f1f1f;
    margin: 0px 10px;
}

.TagEditorRightPane  input {
    width: 330px;
}

.TagEditorButtonRow {
    margin: 10px 0;
}

.TagEditorButtonRow  button {
    margin-right: 10px;
}

.TagEditorContentContainer  img {
    max-height: 1000px;
    max-width: 100%;
}
